<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel">
            <a [routerLink]="['/']" class="logo">
                <img src="assets/layout/images/logo-poseidon-dark.svg" alt="poseidon-layout" />
            </a>
            <div class="login-form">
                <h2>Login To Your Premium Account</h2>
                <p>You don't have an account? <a href="#"> Sign up</a></p>
                <input type="text" autocomplete="off" pInputText placeholder="Email">
                <input type="password" autocomplete="off" pInputText placeholder="Password">
                <button pButton pRipple label="LOGIN" type="button"></button>
            </div>

            <p>A problem? <a href="#">Click here</a> and let us help you.</p>
        </div>
    </div>
</div>
