<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h5>Category</h5>
            <!-- <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="&nbsp;{{'new' | translate}}" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right" *ngIf="isAdmin">
                        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                       
                </ng-template>
            </p-toolbar> -->

            <p-table #dt [value]="categories" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['id','name','displayOrder']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Category </h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name" style="width: 40%;">Name <p-sortIcon
                                field="name"></p-sortIcon></th>
                        <th pSortableColumn="displayOrder" style="width: 40%;">Display Order <p-sortIcon
                                field="displayOrder"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{category.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{category.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Display Order</span>
                            {{category.displayOrder}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    pTooltip="Edit Category"></button>
                                <!-- <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    pTooltip="Edit Category" (click)="editMapper(mapper)"></button> -->
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2"
                                    pTooltip="View Category"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning mr-2"
                                    pTooltip="Delete Category"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- <p-dialog [(visible)]="deleteMapperDialog" header="{{'Confirm' | translate}}" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="mapper">{{'Are you sure you want to delete' | translate}} <b>{{mapper.userName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'No' | translate}}"
                    (click)="deleteMapperDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'Yes' | translate}}"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="viewPartnerDialog" header="{{'Partners' | translate}}" [modal]="true" [style]="{ width: '50vw', height: '500px' }" [maximizable]="true">
            <p-table #dt1 [value]="partners" [columns]="cols" responsiveLayout="scroll" [rows]="10"
            [globalFilterFields]="['id','name','description']" [rows]="10" [paginator]="true"
            [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">{{'Manage Partners' | translate}}</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)"
                            placeholder="{{'Search' | translate}}..." class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">{{'ID' | translate}} <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="customerName" style="width: 40%;">{{'name' | translate}} <p-sortIcon
                            field="customerName"></p-sortIcon></th>
                    <th pSortableColumn="description" style="width: 40%;">{{'Description' | translate}} <p-sortIcon
                            field="description"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-partner>
                <tr>
                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                        {{partner.id}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Customer Name</span>
                        {{partner.name}}
                    </td>
                    <td style="width:14%; min-width:8rem;">
                        <span class="p-column-title">Description</span>
                        {{partner.description}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        </p-dialog> -->

    </div>
</div>